h1{
    display: flex;
    justify-content: center;
}
.board{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 5rem
}

.reStartButton{
    padding: 2rem
}
.reStart{
    display: flex;
    justify-content: center;
}

button{
    padding: 4rem
}
